body{
  background-color: #f6f4f2;
}

h1 {
  color: #425664;
  font-family: Georgia, serif;
}

h2{
  color: #c6ad8f;
}

h3{
  margin-top: 10px;
}

img.MegPic{
  width: 25%;
  height: auto;
  float: left;
  padding : 3%;
}

ol.circles {
  list-style-type: circle;
}
.projects{
  text-align: center;
}

.button{
  background : #425664;
  padding: 10px;
  height : 150px;
}

.button:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}

.button li {
  color: #f6f4f2;  
  margin-top: 5px;
  text-align: center;
}

.button a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  target-new:tab;
}


