body{
  background-color: #f6f4f2;
}

h1 {
  color: #425664;
  font-family: Georgia, serif;
}

h2{
  color: #c6ad8f;
  text-align: center;
}

img.MegPic{
  width: 25%;
  height: auto;
  float: left;
  padding : 3%;
}

.button{
  background : blue;
  padding: 10px;
  height : 150px;
}

.button li {
  color: red;  
  margin-top: 30px;
  text-align: center;
}

.button a {
  color: red;  
  position: absolute;
  width: 100%;
  text-decoration: none;
}

.button:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}

.divLink a{
  text-decoration: none;
}