body{
  background-color: #f6f4f2;
}

h1 {
  color: #425664;
}

h2{
  color: #c6ad8f;
}

img.MegPic{
  width: 25%;
  height: auto;
  float: left;
  padding : 3%;
}

.button div {
  color: red;  

}

.button a {
  color: red;  
   
}